# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
/.firebase
.pnp.js

# testing
/coverage

# production
/build

ui-debug.log
firebase-debug.log

test.ipynb