.remove-text-decoration:hover {
    text-decoration: none;
  }
  
.zeromagic-wrapper {
    background-image: url("@site/static/img/zm-free.png");
    background-color: #f2f7fd;
    color: var(--color-gray-90);
    box-shadow: var(--ifm-global-shadow-lw);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px 0;
}

.zeromagic-wrapper:hover {
  box-shadow: 0 5px 8px rgba(112, 112, 112, 0.2)
}
  
.zeromagic-wrapper .p40 {
  padding: 38px 50px;
  align-self: center;
}
  .show-mobile {
    display: none;
  }
  

.zeromagic-wrapper .desc, 
.zeromagic-wrapper ul {
  padding-inline-start: 0px;
  align-items: center;
}

.zeromagic-wrapper .desc {
  padding-bottom: 24px;
  margin-bottom: 0;
}

.zeromagic-wrapper .desc li {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  padding: 8px 0;
}

.zeromagic-wrapper .desc svg {
  margin-top: 6px;
  width: 12px;
  margin-right: 8px;
}

try-zeromagic {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.try-zeromagic .arrow {
  transition: all .3s ease-in-out;
  display: grid;
  margin-left: 6px;
}
  
html[data-theme='dark'] .zeromagic-wrapper {
  background-color: var(--color-gray-82);
  color: var(--ifm-color-content-secondary);
}

html[data-theme='dark'] .try-zeromagic {
  color: var(--ifm-link-color);
}

html[data-theme='dark'] .try-zeromagic .arrow path {
  stroke: var(--ifm-link-color);
}

@media (max-width: 767px) {
  .zeromagic-wrapper {
    background-image: none;
  }
  
  .zeromagic-wrapper .p40 {
    padding: 20px 20px 0px;
  }
  
  .show-mobile {
    display: contents;
    text-align: right;
    padding-top: 24px;
  }
  
  .show-mobile img {
    display: inline-block;
  }
}